*/.env

uploads/

*/node_modules
*/dist
*/build
*/.next
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

node_modules/
*.DS_Store
*.log
dist/
build/

azure/overrides.yaml
aws/overrides.yaml
gcp/overrides.yaml

# ignore teffaform inits
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.backup
terraform.tfvars.backup.backup
terraform.tfvars.backup.backup.backup
terraform.tfvars.backup.backup.backup.backup
terraform.tfvars.backup.backup.backup.backup.backup

tfplan

# ignore all k8s .bak files
*.yaml.bak
**/*.yaml.bak
*.bak
**/*.bak